<!DOCTYPE html>
<html>
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='mystyle.css') }}">
 <head>
    <title>Minha Cafeteira</title>
</head>
<header></header>
  <body>
    <div id="Form">
      <h1>Minha Cafeteira</h1>
      <form action="/meuHistorico" >
        <BUTTON class="inputBox" >Meu Perfil</BUTTON> 
      </form>
      <form action="/deuRuim">
        <BUTTON class="inputBox" > Possiveis Incendios</BUTTON> 
      </form>
        

    </div>
  </body>
</html>
