<!DOCTYPE html>
<html>
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='mystyle.css') }}">
 <head>
    <title>Alertas</title>
</head>
<header></header>
  <body>
    <div id="Form">
      <h1>Meu Histórico</h1>
      <img src="" alt="Frequencia em que quase colocou fogo na casa">
      <form action="/">
        <BUTTON class="inputBox" > Voltar</BUTTON> 
      </form>
    </div>
  </body>
</html>
